@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --primary-color:rgb(71, 71, 214);
    --sec-color:  #374151;
    --ter-color:white;
}

#Displaysides,#DisplaybaseHeight, #DisplaySpecial, #DisplayEquilateral, #DisplayIsosceles, #Area, #hypotenuse{
    display:none;
}
body{
    color:var(--sec-color);
    margin:0px;
}
.container{
    padding: 0rem 1rem;
    background-color:#93C5FD;
    padding: 2rem;
    border-radius: 0.5rem;
    border:2px solid var(--sec-color)
}
.container-center {
    max-width :600px;
    margin:auto;
}

.container-center-box {
    display:flex;
    max-width :600px;
    margin-left:32%;
}
.box{
    background-color:var(--primary-color);
    border: 2px solid darkblue;
    border-radius: 1rem;
    width:30%;
    height:150px;
    margin:0.5rem;
    text-align:center; 
}

.link {
    position:relative;
    text-decoration: none;
    color: var(--ter-color);
    font-size: 150%;

}
.secondary-link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: 47%;
    color: var(--ter-color);
    background-color: var(--sec-color);
    border-radius: 0.5rem;
    font-weight: bold;
}
a:hover{
    font-weight: bolder;
}
h1{
    font-size:300%;
    color:var(--sec-color);
}
.space{
    padding-bottom:2.5rem;
}
input[type=button]{
    width:50%;
    height:30px;
    color:var(--ter-color);
    background-color: var(--sec-color);
}
input[type=submit]{
    width:15%;
    height:25px;
    border-radius: 0.5rem;
    color:var(--ter-color);
    background-color: var(--sec-color);
}
button{
    width:15%;
    height:25px;
    border-radius: 0.5rem;
    color:var(--ter-color);
    background-color: var(--sec-color);
}
input[type=number]{
    width:20%;
    height:30px;
    border-radius: 0.5rem;
}
.checkbox{
    padding: 0rem 1rem;
    color:var(--sec-color);
    font-weight:bold;
    
}

#Valid{
    text-align:center;
    padding:1rem;
    color:var(--ter-color);
}

#result
{
    margin-left:40%;
    padding:1rem;
    color:var(--ter-color);
}
.answer{
    text-align: center;
    color:var(--ter-color);
    padding:1rem;
}

#quizsubmit{
    border-radius:0px;
    height:30px;

}
.footer{
    position:fixed;
    width:100%;
    left:0;
    bottom:0;
    text-align: center ;
    padding-bottom:1rem;
    color:var(--ter-color);
    background-color:var(--sec-color);
    padding-top: 2rem;
    font-size: 150%;
}
.footer a:hover{

    color:cadetblue;
}

.linkfooter {
    text-decoration: none;
    padding: 0rem 1rem;
    color: var(--ter-color);
}

@media screen and (max-width:680px){
    .link{
        font-size:130%;
    }
    .box{
        width:40%;
        height:130px;
    }
    .space{
        /* padding-bottom:1rem; */
    }
    .container-center-box{
        margin-left:10%;
    }
    h1{
        font-size:250%;
    }
    .footer{
        font-size:120%
    }
}