@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --primary-color:rgb(71, 71, 214);
    --sec-color:  #374151;
    --ter-color:white;
}

#Displaysides,#DisplaybaseHeight, #DisplaySpecial, #DisplayEquilateral, #DisplayIsosceles, #Area, #hypotenuse{
    display:none;
}
body{
    color:var(--sec-color);
    margin:0px;
}
.container{
    padding: 0rem 1rem;
    background-color:#93C5FD;
    padding: 2rem;
    border-radius: 0.5rem;
    border:2px solid var(--sec-color)
}
.container-center {
    max-width :600px;
    margin: auto
}
.triangledown{

    position: absolute;
    background:transparent ;
    width:284px;
    height:200px;
    text-align:center; 
     overflow:hidden;
    

}
.triangledown:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: var(--primary-color);
    transform-origin:bottom left;
    transform:rotate(45deg);
}
.triangle{
    position: absolute;
    transform: translate(60.5%,-64%);
    background:transparent ;
    width:565px;
    height:400px;
    text-align:center; 
     overflow:hidden;

}

.triangle:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: var(--primary-color);
    transform-origin:bottom left;
    transform:rotate(45deg);
    
}
.t0{
    padding-bottom: 17rem;
}
.t1{
    transform: translate(80%,20%);
}
.t2{
    transform: translate(170%,20%);
}
.t3{
    transform: translate(260%,20%);
}
.link {
    position:relative;
    text-decoration: none;
    color: var(--ter-color);
    font-size: 150%;

}
.secondary-link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: 47%;
    color: var(--ter-color);
    background-color: var(--sec-color);
    border-radius: 0.5rem;
    font-weight: bold;
}
a:hover{
    font-weight: bolder;
}
h1{
    font-size:300%;
    color:var(--sec-color);
}
.space{
    padding-bottom:2.5rem;
}
input[type=button]{
    width:50%;
    height:30px;
    color:var(--ter-color);
    background-color: var(--sec-color);
}
input[type=submit]{
    width:15%;
    height:25px;
    border-radius: 0.5rem;
    color:var(--ter-color);
    background-color: var(--sec-color);
}
button{
    width:15%;
    height:25px;
    border-radius: 0.5rem;
    color:var(--ter-color);
    background-color: var(--sec-color);
}
input[type=number]{
    width:20%;
    height:30px;
    border-radius: 0.5rem;
}
.checkbox{
    padding: 0rem 1rem;
    color:var(--sec-color);
    font-weight:bold;
    
}

#Valid{
    text-align:center;
    padding:1rem;
    color:var(--ter-color);
}

#result
{
    margin-left:40%;
    padding:1rem;
    color:var(--ter-color);
}
.answer{
    text-align: center;
    color:var(--ter-color);
    padding:1rem;
}

#quizsubmit{
    border-radius:0px;
    height:30px;

}
.footer{
    text-align: center ;
    padding-bottom: 3rem;
    color:var(--ter-color);
    background-color:var(--sec-color);
    padding-top: 2rem;
    font-size: 150%;
}
.footer a:hover{

    color:cadetblue;
}

.linkfooter {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--ter-color);
}

@media screen and (max-width:800px){
    .triangle{
        transform: translate(20%,-10%);
        width:40%;
        height:40%;
        background: var(--primary-color);
        border-radius: 0.5rem;
    border:2px solid var(--sec-color);
    }
    .triangledown{
        width:40%;
        height:40%;
        background: var(--primary-color);
        border-radius: 0.5rem;
    border:2px solid var(--sec-color);
    }
    .t0{
        padding-bottom: 40%;
    }
    .t1{
        transform: translate(125%,-21%);
        /* padding-bottom: 4.5rem; */
    }
    .t2{
        transform: translate(20%,87%);
        /* padding-bottom: 4.5rem; */
    }
    .t3{
        transform: translate(125%,87%);
        /* padding-bottom: 4.5rem; */
    }
    h1{
        font-size: 250%;
    }

}